.comfy_workflow_frame {
    width: 100%;
    height: calc(100% - 3rem);
}
.comfy_workflow_frameholder {
    width: 100%;
    height: 100%;
}
.comfy_workflow_buttons {
    position: absolute;
    width: 0;
    height: 0;
}
.comfy_workflow_buttons_actual {
    position: relative;
    top: 1rem;
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    border: 1px solid var(--shadow);
    border-radius: 1rem;
    background-color: var(--background-soft);
    white-space: nowrap;
    min-width: 3rem;
    min-height: 3rem;
}
.comfy_workflow_buttons_left {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    white-space: normal;
    vertical-align: top;
}
.comfy_workflow_buttons_right {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    white-space: normal;
    padding-right: 2rem; /* this is a hack, idk why this is needed */
    vertical-align: top;
}
.comfy-small-button {
    font-size: 80%;
}
.comfy_buttons_closer_wrapper {
    position: relative;
    width: 0;
    height: 0;
}
.comfy_buttons_closer {
    font-size: 80%;
    position: absolute;
    top: 0rem;
    left: 0rem;
    cursor: pointer;
    border-radius: 0.5rem;
    border: 1px solid var(--button-border);
    background-color: var(--button-background);
    color: var(--button-text);
    width: fit-content;
    padding: 0.2rem;
}
.comfy_buttons_closer:hover {
    background-color: var(--button-background-hover);
    color: var(--button-foreground-hover);
}
.comfy_quickload {
    font-size: 80%;
}
.comfy_quickload select {
    border: none;
    padding: 0;
    margin: 0;
    float: right;
    text-align: right;
}
.comfy_multigpu {
    font-size: 80%;
}
.comfy_multigpu select {
    border: none;
    padding: 0;
    margin: 0;
    float: right;
    margin-left: 1rem;
}
.comfy-disable-button {
    margin: auto;
    display: block;
}
.comfy-second-button-row {
    height: 1.5rem;
    width: 100%;
}
.comfy-left-button {
    float: left;
}
.comfy_workflow_topbar_holder {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 20rem;
    border-bottom: 7px solid var(--background);
}
