.grid-gen-axis-wrapper {
    width: 100%;
    margin-bottom: 0.5rem;
}
.grid-gen-run-button {
    background-color: var(--button-background);
    color: var(--button-text);
    border: 1px solid var(--button-border);
    font-size: 200%;
    font-weight: bold;
    padding: 1rem;
    border-radius: 1rem;
}
.grid-gen-run-button:hover {
    background-color: var(--button-background-hover);
    color: var(--button-foreground-hover);
}
.grid-gen-axis-area {
    border-radius: 1rem;
    margin-top: 0.5rem;
    width: 99%;
    margin-left: 0.5%;
    padding: 0.5rem;
    border: 1px solid var(--light-border);
}
.grid-gen-axis-input {
    width: calc(max(60vw, 25rem));
    vertical-align: top;
    display: inline-block;
    border: 1px solid var(--light-border);
    background-color: var(--background-soft);
    white-space: pre-wrap;
}
.grid-gen-axis-input-value {
    display: inline-block;
    border: 1px solid gray;
    background-color: rgba(127, 127, 127, 0.25);
    border-radius: 0.5rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}
.grid-gen-axis-input-value-invalid {
    background-color: rgba(255, 0, 0, 0.25);
}
.grid-gen-axis-input-value-skipped {
    opacity: 0.5;
}
.grid-gen-axis-input-separator {
    font-weight: bold;
    color: #ffff55;
}
.grid-gen-selector {
    vertical-align: top;
    margin-right: 0.5rem;
}
.grid-gen-axis-fill-button {
    margin-left: 0.5rem;
    border-radius: 0.2rem;
    font-weight: bold;
}
.gridgen_warn {
    color: red;
    font-weight: bold;
}
.grid-gen-checkboxes {
    display: flex;
    flex-wrap: wrap;
}
.grid-gen-checkboxes .auto-input-flex {
    width: fit-content;
    margin-right: 1rem;
}
