@page
@model IndexModel
@{
    ViewData["Title"] = "Demo Test Page";
}
@section Header {
    <link rel="stylesheet" href="/css/genpage.css?vary=@Utilities.VaryID" />
}

<textarea class="prompt-box" id="input_prompt" placeholder="Type your prompt here" rows="3"></textarea>
<br><textarea class="prompt-box" id="input_negative_prompt" placeholder="Type your negative prompt here" rows="3"></textarea>
<br><label for="input_seed">Seed: </label> <input type="number" id="input_seed" value="-1", min="-1" max="1000000000" step="1">
<br>@WebUtil.AutoSlider("Steps", "How many times to run the model. More steps = better quality, but more time.", "input_steps", 1, 100, 20)
<br>@WebUtil.AutoSlider("Width", "Image width, in pixels.", "input_width", 0, 8192, 1024, 64)
<br>@WebUtil.AutoSlider("Height", "Image height, in pixels.", "input_height", 0, 8192, 1024, 64)
<br><button class="generate-button" id="generate_button">Generate</button>
<br>
<div id="image_spot"></div>

@section Scripts {
    <script src="/js/genpage.js?vary=@Utilities.VaryID"></script>
}
