@page
@{
    ViewData["Title"] = "Demo Test Page";
}
@section Header {
    <link rel="stylesheet" href="/css/genpage.css?vary=@Utilities.VaryID" />
}

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" data-bs-toggle="tab" href="#Text2Image" aria-selected="true" role="tab">Text2Image</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" data-bs-toggle="tab" href="#Models" aria-selected="false" tabindex="-1" role="tab">Models</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" data-bs-toggle="tab" href="#Settings" aria-selected="false" tabindex="-1" role="tab">Settings</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane show active" id="Text2Image" role="tabpanel">
        <div class="t2i-top-bar-container">
            <div class="t2i-top-bar">
                <div class="input-sidebar" id="input_sidebar">
                    <textarea class="prompt-box" id="input_prompt" placeholder="Type your prompt here" rows="3"></textarea>
                    <br><textarea class="prompt-box" id="input_negative_prompt" placeholder="Type your negative prompt here" rows="3"></textarea>
                    <br><button class="generate-button" id="generate_button">Generate</button>
                    <div id="main_inputs_area"></div>
                </div>
                <div class="main-image-area">
                    <div class="current_image" id="current_image"></div>
                    <div class="current_image_batch" id="current_image_batch"></div>
                </div>
            </div>
        </div>
        <div class="t2i-bottom-bar">
            <button id="image_history_refresh_button" class="image-history-refresh refresh-button">Refresh</button>
            <div class="image_history" id="image_history"></div>
        </div>
    </div>
    <div class="tab-pane" id="Models" role="tabpanel">
            <button id="model_list_refresh_button" class="refresh-button">Refresh</button>
            <div class="model_list" id="model_list"></div>
    </div>
    <div class="tab-pane" id="Settings" role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" data-bs-toggle="tab" href="#Settings-Backends" aria-selected="true" role="tab">Backends</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#Settings-Test" aria-selected="false" tabindex="-1" role="tab">Some other menu</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane show active" id="Settings-Backends" role="tabpanel">
                <div class="backend_add_button_container">
                    Add new backend of type:
                    <div id="backend_add_buttons"></div>
                </div>
                <div class="backends_list" id="backends_list"></div>
            </div>
            <div class="tab-pane" id="Settings-Test" role="tabpanel">
                Placeholder.
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="/js/backends.js?vary=@Utilities.VaryID"></script>
    <script src="/js/genpage.js?vary=@Utilities.VaryID"></script>
}
