@page
@{
    ViewData["Title"] = "Demo Test Page";
}
@section Header {
    <link rel="stylesheet" href="/css/genpage.css?vary=@Utilities.VaryID" />
}

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" data-bs-toggle="tab" href="#Text2Image" aria-selected="true" role="tab">Text2Image</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" data-bs-toggle="tab" href="#Image2Image" aria-selected="false" tabindex="-1" role="tab">Image2Image</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" data-bs-toggle="tab" href="#User-Settings" aria-selected="false" tabindex="-1" role="tab">User Settings</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" data-bs-toggle="tab" href="#Settings" aria-selected="false" tabindex="-1" role="tab">Settings</a>
    </li>
</ul>
<div class="tab-content tab-hundred">
    <div class="tab-pane show active" id="Text2Image" role="tabpanel">
        <div class="t2i-top-bar-container">
            <div class="t2i-top-bar" id="t2i_top_bar">
                <div class="input-sidebar" id="input_sidebar">
                    <button class="generate-button" id="generate_button">Generate Image</button>
                    <div class="main_inputs_area_wrapper" id="main_inputs_area_wrapper">
                        <div id="main_inputs_area"></div>
                        <div class="advanced_input_checkbox">
                            <input type="checkbox" id="advanced_options_checkbox" onclick="javascript:toggle_advanced()"/>
                            <span onclick="javascript:toggle_advanced_checkbox_manual()">Display Advanced Options?</span>
                        </div>
                        <div id="main_inputs_area_advanced" class="main_inputs_area_advanced" style="display:none;"></div>
                        <div id="main_inputs_area_hidden" class="main_inputs_area_hidden"></div>
                    </div>
                </div>
                <div class="t2i-top-split-bar splitter-bar" id="t2i-top-split-bar"></div>
                <div class="main-image-area" id="main_image_area">
                    <div class="current_image" id="current_image"></div><div class="current_image_batch" id="current_image_batch"></div>
                </div>
            </div>
        </div>
        <div class="t2i-mid-split-bar splitter-bar" id="t2i-mid-split-bar"></div>
        <div class="t2i-bottom-bar" id="t2i_bottom_bar">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" data-bs-toggle="tab" href="#Image-History-Tab" aria-selected="true" role="tab">Image History</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-bs-toggle="tab" href="#Models-Tab" aria-selected="false" tabindex="-1" role="tab">Models</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-bs-toggle="tab" href="#Tools-Tab" aria-selected="false" tabindex="-1" role="tab">Tools</a>
                </li>
            </ul>
            <div class="tab-content" id="t2i_bottom_bar_content">
                <div class="tab-pane show active" id="Image-History-Tab" role="tabpanel">
                    <button id="image_history_refresh_button" class="image-history-refresh refresh-button">Refresh</button>
                    <div class="image_history" id="image_history"></div>
                </div>
                <div class="tab-pane" id="Models-Tab" role="tabpanel">
                    <button id="model_list_refresh_button" class="refresh-button">Refresh</button> Current Model: <span class="current_model_view" id="current_model"></span>
                    <div class="model_list" id="model_list"></div>
                </div>
                <div class="tab-pane" id="Tools-Tab" role="tabpanel">
                    <select class="tool-selector" id="tool_selector">
                        <option value="" selected></option>
                    </select>
                    <div class="tool-container" id="tool_container">
                    </div>
                </div>
                <div style="height: 10rem"></div> <!-- Spacer to fix scrolling -->
            </div>
        </div>
    </div>
    <div class="tab-pane tab-pane-vw" id="Image2Image" role="tabpanel">
        TODO
        <div style="height: 5rem"></div> <!-- Spacer to fix scrolling -->
    </div>
    <div class="tab-pane tab-pane-vw" id="User-Settings" role="tabpanel">
        TODO
        <div style="height: 5rem"></div> <!-- Spacer to fix scrolling -->
    </div>
    <div class="tab-pane tab-pane-vw" id="Settings" role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" data-bs-toggle="tab" href="#Settings-Backends" aria-selected="true" role="tab">Backends</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#Settings-Test" aria-selected="false" tabindex="-1" role="tab">Some other menu</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane show active" id="Settings-Backends" role="tabpanel">
                <div class="backend_add_button_container">
                    Add new backend of type:
                    <div id="backend_add_buttons"></div>
                </div>
                <div class="backends_list" id="backends_list"></div>
            </div>
            <div class="tab-pane" id="Settings-Test" role="tabpanel">
                Placeholder.
            </div>
        </div>
        <div style="height: 5rem"></div> <!-- Spacer to fix scrolling -->
    </div>
</div>

@section Scripts {
    <script src="/js/backends.js?vary=@Utilities.VaryID"></script>
    <script src="/js/genpage.js?vary=@Utilities.VaryID"></script>
}
