.input-group .basic-button {
    border-radius: 1rem;
    padding-top: 0.1em;
    padding-left: 0.3em;
    padding-right: 0.3em;
}
.nav-tabs .nav-link {
    border-radius: 0px;
}
.nav-tabs {
    --bs-nav-tabs-link-active-bg: var(--emphasis);
    --bs-nav-tabs-link-active-border-color: var(--emphasis);
    --bs-nav-tabs-link-hover-border-color: var(--emphasis);
    --bs-nav-tabs-border-color: var(--shadow);
}
.comfy_workflow_buttons * {
    border-radius: 0px !important;
}
.comfy_workflow_buttons_actual {
    left: 0.5rem !important;
    top: 0.5rem !important;
}
:root {
    --background: #18181b;
    --background-soft: #27272a;
    --background-gray: #27272a;
    --background-gray-danger: #361f1f;
    --background-danger: #200b0b;
    --shadow: #3f3f46;
    --emphasis: #00bc8c;
    --light-border: #3f3f46;
    --red: #ff0000;
    --green: #00ff00;
    --qbutton: var(--emphasis);
    --popup-back: #000000;
    --popup-front: #ffffff;
    --button-background-hover: color-mix(in srgb, var(--emphasis) 70%, black);
    --button-foreground-hover: #aaaaaa;
    --button-border: #3f3f46;
    --button-text: #ffffff;
    --button-background: var(--emphasis);
    --danger-button-background-hover: color-mix(in srgb, #550000 70%, black);
    --danger-button-foreground-hover: #aaaaaa;
    --danger-button-border: #3f3f46;
    --danger-button-foreground: #ffffff;
    --danger-button-background: #550000;
    --button-background-disabled: #3f3f46;
    --button-foreground-disabled: #aaaaaa;
    --batch-0: rgba(200, 200, 200, 0.3);
    --batch-1: rgba(200, 200, 200, 0.3);
    --text: #eeeeee;
    --text-soft: #aaaaaa;
    --box-selected-border: rgba(120, 85, 225, 0.8);
    --box-selected-background: rgba(120, 85, 225, 0.2);
    --box-selected-border-stronger: rgba(120, 85, 225, 1.0);
    --box-selected-background-stronger: rgba(120, 85, 225, 0.3);
}
