:root {
    --background-soft: #27272a;
    --background-gray: #222226;
    --background-gray-danger: #361f1f;
    --shadow: #3f3f46;
    --light-border: #3f3f46;
    --popup-front: #ffffff;
    --button-foreground-disabled: #aaaaaa;
    --text-soft: #aaa;
    --background: #161616;
    --text: #E4E4E4;
    --emphasis: #7855e1;
    --emphasis-soft: #665694;
    --button-text: #fff;
    --background-panel: #202020;
    --background-panel-subtle: rgba(255, 255, 255, 0.03);
    --emphasis-text: var(--button-text);
    --border-color: #4C4C4C;
    --button-background: #4b4b4b;
    --range-track-color: #1d1d1d;
    --range-thumb-color: #4b4b4b;
}
