<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StableUI</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css?vary=@Utilities.VaryID" />
    @RenderSection("Header", required: false)
</head>
<body>
    @RenderBody()
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/util.js?vary=@Utilities.VaryID"></script>
    <script src="/js/site.js?vary=@Utilities.VaryID"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
