body {
    height: 100vh;
    overflow: hidden;
}
.prompt-box {
    width: 100%;
    border-radius: 0.5rem;
}
.generate-button {
    background-color: orange;
    font-size: 200%;
    font-weight: bold;
    padding: 1rem;
    border-radius: 1rem;
    width: 90%;
    margin-left: 5%;
}
.t2i-top-bar {
    display: block;
    height: 50vh;
    overflow: hidden;
    white-space: nowrap;
}
.input-sidebar {
    display: inline-block;
    width: calc(max(28rem, 20vw));
    padding: 0.5rem;
    border-right: 1px solid purple;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: normal;
    height: 50vh;
}
.main-image-area {
    display: inline-block;
    padding: 0.5rem;
    overflow: hidden;
    width: calc(100vw - max(28rem, 20vw));
    height: 50vh;
    white-space: nowrap;
    vertical-align: top;
}
.t2i-bottom-bar {
    border-top: 1px solid var(--light-border);
    display: block;
}
.t2i-bottom-bar .tab-content {
    width: 100%;
    height: 49vh;
    overflow-y: scroll;
}
.current_image {
    display: inline-block;
    padding: 0.5rem;
    border: 1px solid var(--light-border);
    width: calc(min(max(40vw, 28rem), 49vh));
    height: 49vh;
    vertical-align: top;
}
.current_image img {
    max-width: 100%;
    max-height: 100%;
}
.current_image_batch {
    display: inline-block;
    border-top: 1px solid var(--light-border);
    border-bottom: 1px solid var(--light-border);
    overflow-y: scroll;
    width: calc(100vw - max(28rem, 20vw) - min(28rem, 49vh));
    height: 50vh;
    vertical-align: top;
    white-space: normal;
}
.image_history {
    width: 100%;
    overflow-y: scroll;
}
.image-block {
    height: 10rem;
    width: 10rem;
    padding: 0.5rem;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}
.image-block img {
    height: 8rem;
    display: block;
}
.image-block:hover {
    background-color: var(--shadow);
}
.image-batch-0 {
    background-color: rgba(200, 200, 255, 0.3);
}
.image-batch-1 {
    background-color: rgba(255, 255, 255, 0.3);
}
.image-preview-text {
    font-size: 70%;
    font-family: 'Courier New', Courier, monospace;
}
.model-block {
    height: 10rem;
    width: 40rem;
    margin: 0.5rem;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: top;
}
.model-loaded {
    border: 1px solid #00ff00;
    background-color: rgba(200, 255, 200, 0.3);
}
.model-block-hoverable:hover {
    background-color: var(--shadow);
}
.model-block-hoverable:hover img {
    border: 2px solid white;
}
.model-block img {
    max-height: 8rem;
    max-width: 8rem;
    display: inline-block;
    margin: 0.5rem;
    margin-bottom: 0px;
    vertical-align: top;
}
.model-descblock {
    width: 30rem;
    height: 10rem;
    overflow: scroll;
    display: inline-block;
    white-space: pre-wrap;
    word-break: break-all;
}
.refresh-button {
    margin: 0.5rem;
    background-color: #55aa55;
    color: #000000;
    border-radius: 0.5rem;
    border: 1px solid #000000;
}
.refresh-button:hover {
    background-color: #005500;
    color: #aaaaaa;
}
