.prompt-box {
    width: 100%;
    border-radius: 0.5rem;
}
.generate-button {
    background-color: orange;
    font-size: 200%;
    font-weight: bold;
    padding: 1rem;
    border-radius: 1rem;
    width: 90%;
    margin-left: 5%;
}
.input-sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: calc(max(28rem, 20vw));
    padding: 0.5rem;
    border-right: 1px solid purple;
    height: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
}
.main-image-area {
    position: fixed;
    top: 0px;
    left: calc(max(28rem, 20vw));
    width: calc(100vw - max(28rem, 20vw));
    padding: 0.5rem;
    height: 100vw;
    overflow-y: scroll;
}
@keyframes toast-flash {
    0% {background-color: transparent;}
    50% {background-color: #FF0000;}
    100% {background-color: transparent;}
}
.center-toast {
    position: fixed;
    z-index: 1000;
    margin: auto;
    top: 3rem;
    left: 50%;
    transform: translate(-50%, 0);
    animation-name: toast-flash;
    animation-duration: 2s;
}
