:root {
    --background: #0b0f20;
    --background-soft: #203040;
    --shadow: #404080;
    --light-border: #a0c0c0;
}

body {
    background-color: var(--background);
}
.auto-input {
    display: inline-block;
    border-radius: 0.5rem;
    max-width: 50rem;
    width: 100%;
    margin: 5px;
    padding-left: 2px;
    box-shadow: var(--shadow) 0px 0px 1px 1px;
    white-space: nowrap;
    overflow: hidden;
}
.auto-slider-fade-contain {
    display: inline-block;
    width: calc(min(100%, 50rem) - 5rem - 2px);
}
.auto-fade-max-contain {
    width: calc(100% - 2px);
}
.auto-number-box {
    width: fit-content;
    max-width: 18rem;
}
.auto-input-name {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    box-shadow: var(--shadow) 0px 1px 1px 1px;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2px;
    margin-bottom: 1px;
    min-width: 7rem;
}
.auto-input-description {
    display: inline-block;
    font-size: 80%;
    color: #aaaaaa;
    margin-bottom: 0px;
    margin-left: 0.5rem;
    line-height: 0.7rem;
    height: 1rem;
    white-space: nowrap;
}
.auto-input-fade-lock {
    mask-image: linear-gradient(to right, black 70%, transparent 100%);
}
.auto-slider-range {
    width: 100%;
    vertical-align: middle;
}
.auto-slider-number {
    float: right;
    width: 5rem;
    border-radius: 0.5rem;
    margin-bottom: 0px;
}
.auto-number {
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 0px;
}
.auto-number-small {
    width: 5rem;
    border-radius: 0.5rem;
    margin-bottom: 0px;
}
textarea, input {
    border-color: var(--shadow);
    background-color: var(--background-soft);
}
@keyframes toast-flash {
    0% {background-color: transparent;}
    50% {background-color: #FF0000;}
    100% {background-color: transparent;}
}
.center-toast {
    position: fixed;
    z-index: 1000;
    margin: auto;
    top: 3rem;
    left: 50%;
    transform: translate(-50%, 0);
    animation-name: toast-flash;
    animation-duration: 2s;
}
