:root {
    --background: #0b0f20;
    --background-soft: #203040;
    --background-gray: #1f2336;
    --background-gray-danger: #361f1f;
    --background-danger: #200b0b;
    --shadow: #404080;
    --light-border: #a0c0c0;
    --red: #ff0000;
    --green: #00ff00;
    --qbutton: #00a0a0;
}
body {
    background-color: var(--background);
}
@keyframes status_glow-warn {
    0% {background-color: #dddd55;}
    50% {background-color: #888800;}
    100% {background-color: #dddd55;}
}
@keyframes status_glow-error {
    0% {background-color: #dd5555;}
    50% {background-color: #880000;}
    100% {background-color: #dd5555;}
}
.top-status-bar {
    position: sticky;
    color: #000000;
    top: 0px;
    z-index: 100;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    padding-left: 1rem;
}
.status-bar-warn {
    animation-name: status_glow-warn;
}
.status-bar-error {
    animation-name: status_glow-error;
}
.status-bar-soft {
    background-color: #888800;
}
.auto-input {
    display: inline-block;
    border-radius: 0.5rem;
    max-width: 50rem;
    width: 100%;
    margin: 5px;
    padding-left: 2px;
    box-shadow: var(--shadow) 0px 0px 1px 1px;
    white-space: nowrap;
    overflow: hidden;
}
.backend_add_button_container {
    margin: 0.5rem;
}
.backends_list {
    margin: 0.5rem;
}
.tab-hundred {
    height: 100%;
}
.tab-pane-vw {
    height: 100%;
    overflow: scroll;
}
.backend-card {
    max-width: 55rem;
    border-radius: 0.5rem;
}
.backend-errored {
    border: 1px solid #ff0000;
}
.backend-disabled {
    border: 1px solid #ffaa00;
}
.backend-running {
    border: 1px solid #00aa33;
}
.backend-loading {
    border: 1px solid #335500;
}
.backend-waiting {
    border: 1px solid #335500;
}
.card-header {
    background-color: var(--background-gray);
}
.card-body {
    background-color: var(--background);
}
.backend-errored .card-header {
    background-color: var(--background-gray-danger);
}
.backend-errored .card-body {
    background-color: var(--background-danger);
}
.backend-card .card-header button {
    height: 1.8rem;
    width: 1.8rem;
    text-align: center;
    background-color: transparent;
    border-radius: 0.2rem;
    margin-left: 0.5rem;
    padding: 0.1rem;
    padding-top: -0.5rem;
    float: right;
}
.backend-edit-button {
    color: var(--green);
    border: 1px solid var(--green);
}
.backend-edit-button:hover {
    color: #000000 !important;
    border: 1px solid #000000 !important;
    background-color: var(--green) !important;
}
.backend-edit-button:disabled {
    color: #505050 !important;
    border: 1px solid #505050 !important;
    background-color: transparent !important;
}
.backend-delete-button {
    color: var(--red);
    border: 1px solid var(--red);
}
.backend-delete-button:hover {
    color: #000000 !important;
    border: 1px solid #000000 !important;
    background-color: var(--red) !important;
}
.backend-save-button {
    width: 3rem !important;
    color: var(--green);
    border: 1px solid var(--green);
}
.backend-save-button:hover {
    color: #000000 !important;
    border: 1px solid #000000 !important;
    background-color: var(--green) !important;
}
.auto-slider-fade-contain {
    display: inline-block;
    width: calc(min(100%, 50rem) - 5rem - 2px);
}
.auto-fade-max-contain {
    width: calc(100% - 2px);
}
.auto-number-box, .auto-checkbox-box {
    width: fit-content;
    max-width: 18rem;
}
.auto-input-name {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    box-shadow: var(--shadow) 0px 1px 1px 1px;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2px;
    margin-bottom: 1px;
    min-width: 7rem;
}
.auto-input-description {
    display: inline-block;
    font-size: 80%;
    color: #aaaaaa;
    margin-bottom: 0px;
    margin-left: 0.5rem;
    line-height: 0.7rem;
    height: 1rem;
    white-space: nowrap;
}
.auto-input-fade-lock {
    mask-image: linear-gradient(to right, black 70%, transparent 100%);
}
.auto-text {
    width: 100%;
    vertical-align: middle;
}
.auto-slider-range {
    width: 100%;
    vertical-align: middle;
}
.auto-slider-number {
    float: right;
    width: 5rem;
    border-radius: 0.5rem;
    margin-bottom: 0px;
}
.auto-number {
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 0px;
}
.auto-number-small {
    width: 5rem;
    border-radius: 0.5rem;
    margin-bottom: 0px;
}
.auto-dropdown {
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 0px;
}
textarea, input, select {
    border-color: var(--shadow);
    background-color: var(--background-soft);
}
@keyframes toast-flash {
    0% {background-color: transparent;}
    50% {background-color: #FF0000;}
    100% {background-color: transparent;}
}
.center-toast {
    position: fixed;
    z-index: 1000;
    margin: auto;
    top: 3rem;
    left: 50%;
    transform: translate(-50%, 0);
    animation-name: toast-flash;
    animation-duration: 2s;
}
.auto-input-qbutton {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    border-radius: 0.5rem;
    border: 1px solid var(--qbutton);
    color: var(--qbutton);
}
.sui-popover {
    background-color: black;
    color: white;
    border: 1px solid gray;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: fit-content;
    z-index: 1000;
}
