@page
@{
    ViewData["Title"] = "Error: Basic API Usage Error";
}

<center>
    <h1>Error: Basic API Usage Error</h1>
    <h4>Your access to the API is misformatted or invalid.</h4>
    <h5>Please check the <a href="/">API Usage Docs</a>.</h5> <!-- // TODO: ACTUAL LINK -->
</center>
