@page
@{
    ViewData["Title"] = "Error: Cannot 'GET' The API";
}

<center>
    <h1>Error: Cannot 'GET' the API</h1>
    <h4>You must use 'POST' requests to access the API.</h4>
    <h5>If you're not trying to automate internal access, use <a href="/">the normal webpages</a> instead.</h5>
</center>
